{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<style>
    h1 {
        color: blue;
    }

    a {
        color: rgb(238, 12, 238);
    }


    p,
    a {
        text-decoration: none;
    }
</style>


<div style="color: white;" class="ui">
    <h1>Current request.path {{ request.path }}</h1>
    <!-- {% if user.is_authenticated %} -->
    <p>Authenticated as
    <pre>
    Name: {{ user.get_full_name }}
    Email: {{ user.email }}
    Id: {{ user.id }}
    </pre>


    </p>
    <!-- <p>You can <a href="{% url 'logout' %}?next={% url 'app:manual' %}">Logout</a> -->
    <!-- </p>
    {% else %}
    <p>You are not logged in</p>
    <p>You can <a href="{% url 'login' %}?next={{ request.path }}">Login</a> if you like.</p>
    {% endif %} -->
</div>

<div class="nav">
    <ul>

        <li>
            {% if user.is_authenticated %}
            <p>
                <a href="{% url 'logout' %}?next={% url 'app:open' %}">Logout</a>
            </p>
            {% else %}
            <p>
                <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
            </p>{% endif %}
        </li>


        <li>
            <a href="{% url 'app:register' %}">Register</a>

        </li>
        <li>
            <a href="{% url 'app:about' %}">About</a>

        </li>
        <li>
            <a href="{% url 'app:contact' %}"> Contact</a>

        </li>
        <li>
            <a href="{% url 'app:manual' %}"> manual</a>

        </li>
        <li>
            <a href="{% url 'app:protect' %}">protect</a>

        </li>
        <li>
            <a href="{% url 'app:python' %}"> python</a>

        </li>
    </ul>
</div>